header#mainHeader {
    width: 60px;
    height: 100%;
    left: 0;
    transition: left 0.5s ease-in-out 0.2s;
    position: fixed;
    display: inline-block;
    background-color: #3a4151;
    z-index: 1000;

    nav {
        height: 100%;
        width: 60px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        /*
		position:absolute;
		left:0;
	*/
        .top-header {
            background-color: #3a4151;
            position: relative;
        }
        &:after {
            content: " ";
            background-color: #3a4151;
            width: 60px;
            height: 100%;
            position: absolute;
            left: 0px;
        }

        &:before {
            content: " ";
            height: 100%;
            width: 0px;
            background-color: #424a5c;
            position: absolute;
            left: 60px;
            transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        /* L'element */
        .navBurger {
            cursor: pointer;
            width: 100%;
            height: 45px;
            .burger {
                margin-left: 18px;
                margin-top: 30px;
                cursor: pointer;
                &,
                &::before,
                &::after {
                    border-radius: 2px;
                    position: absolute;
                    z-index: 100;
                    width: 24px;
                    height: 4px;
                    background: white;
                    transition: all 0.3s;
                }

                &::before,
                &::after {
                    content: "";
                    display: block;
                }

                /* pour créer le hamburger, on décale les deux
			 * barres de 8px
			 */
                &::before {
                    margin-top: -8px;
                }
                &::after {
                    margin-top: 8px;
                }
            }
        }

        ul {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            margin-top: calc(50vh - 160px);
            li {
                font-size: 14px;
                width: 60px;
                height: 40px;
                cursor: pointer;
                position: relative;
                display: block;
                a {
                    width: 150px;
                    color: white;
                    position: relative;
                    z-index: 0;
                    opacity: 0;
                    left: -80px;
                    text-transform: uppercase;
                    transition: left 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045),
                    opacity 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                    color: #fff;
                    text-decoration: none;
                    line-height: 40px;
                    display: block;
                    height: 40px
                }
                &:before {
                    z-index: 10;
                    content: " ";
                    width: 8px;
                    height: 8px;
                    background-color: transparent;
                    position: absolute;
                    left: 26px;
                    top: 16px;
                    border-radius: 50%;
                    border: 2px solid white;
                    transform: scale(1) translate3d(0, 0, 0);
                    transition: all 0.2s ease-in-out;
                }
                a:hover,
                a:active,
                a:visited,
                a:focus {
                    background-color: transparent !important;
                    color: white;
                }
                &:hover {
                    &:before {
                        background-color: white;
                    }
                }
                &.active,
                &:hover {
                    &:before {
                        transform: scale(1.5) translate3d(0, 0, 0);
                        background-color: white;
                    }
                }
            }
        }

        &:hover {
            &:before {
                width: 160px;
                transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            .burger {
                /* 		background:transparent; */
                transform: rotate(45deg) translate3d(0, 0, 0);
                &::before {
                    margin-top: 0px !important;
                    transform: rotate(-90deg) translate3d(0, 0, 0);
                }
                &::after {
                    margin-top: 0px !important;
                    transform: rotate(0deg) translate3d(0, 0, 0);
                }
            }

            li {
                a {
                    left: 70px !important;
                    opacity: 1 !important;
                    transition-duration: 0.4s !important;
                    transition-property: left, opacity !important;
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) 
                    ;
                }
                &:nth-child(1) a {
                    transition-delay: 0.3s !important;
                }
                &:nth-child(2) a {
                    transition-delay: 0.34s !important;
                }
                &:nth-child(3) a {
                    transition-delay: 0.38s !important;
                }
                &:nth-child(4) a {
                    transition-delay: 0.42s !important;
                }
                &:nth-child(5) a {
                    transition-delay: 0.46s !important;
                }
                &:nth-child(6) a {
                    transition-delay: 0.5s !important;
                }
                &:nth-child(7) a {
                    transition-delay: 0.54s !important;
                }
                &:nth-child(8) a {
                    transition-delay: 0.58s !important;
                }
            }
        }
    }
}
